*{
    margin: 0;
    padding: 0;
    
    }
    :root{
        /* paleta de cores */
        --cor0: #9BD7F2;
        --cor1: #52BDF0;
        --cor2: #4095BD;
        --cor3: #265970;
        --cor4: #486370;
    
        /* fontes */
        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --font-destaque: 'Audiowide', cursive; 
        --font-android: 'Android'
    }
 

    h1,p{
        text-align: center;
        color: rgb(27, 90, 206);
		/* Poderia usar:;
		color: #ff0000;*/
		/* Poderia usar:;
		color: rgb(255, 0, 0);*/
        
    }

    @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


    
    a.imagen{
        text-align: center;
    }

    h1.cor_titulo{
        background-color: rgb(243, 250, 245);
    }

    main h1{
        color: var(--cor4);
        font-family: var(--font-android);
    }
    header.titulo{
    
    background-image: linear-gradient(to bottom, #31e47e, #006680);

    width: 1080;
    height:100px;
}

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

body{
    background-color: rgb(199, 255, 236);
    font-family: var(--fonte-padrao);
}


body.main{
   
    
    margin-right: 10px;
    background-color: #84e1ad;

    padding: 20px;
    border-radius: 10px;
    

    min-width: 320px;
    max-width: 8200px;

     }


 nav.menu{
       
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
    margin: auto;
    text-align: center;
        
    }

    nav > a{
        padding: 10px;
        text-decoration: none;
        color:var(--cor1);
        font-weight: bold;
        transition-duration: 0.3s;
    }

    nav a:hover{
        background-color: var(--cor1);
        border-radius: 5px;
        color: var(--cor4);
    }

    article.materia{
        
        padding: 30px;
        background-color: rgb(247, 247, 247);
        width: 800px; 
        margin-left: auto;
        margin-right: auto; 
           padding-bottom: 10px;
           padding-left: 100px;
           padding-right: 100px;

           
           
    }

   
     


    
aside.h3{
    background-color: rgba(19, 175, 79, 0.753);
    padding: 20px;
    border-radius: 20px;
    
    
}
    aside.ul{
        background-color: rgba(5, 219, 69, 0.877);
        list-style-position: inside;
        columns: 2;
        border-radius: 10px;
        
    }

    footer.roda_pe{

    text-align: center;        
    padding-top:10px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-image: linear-gradient(to bottom, #31e47e, #006680);
    border-radius: 10px;
    }


